
* {
  margin: 0 auto;
  outline: none;
}
body {
  font: @import url(https://fonts.googleapis.com/css?family=Lora:400italic);
}
a {
  text-decoration: none;
}
#container {
max-width: 1500px;
}

#head {
text-align: center;
display: flex;
flex-flow: row-reverse wrap;
justify-content: flex-start;
background: url("../img/header1.jpg") #F2F2F2 no-repeat;
background-size: cover;
}
.h1head img {
  padding-top: 15px;
}
#mainmenu {
  flex-basis: 70%;
  margin: 20px 0;
}
#mainmenu ul {
  list-style: none;
}
#mainmenu li {
  display: inline-flex;
  margin: 15px;
}
#mainmenu a {
   color: #3E3E3E;
   text-transform: uppercase;
   font-family: sans-serif;
}
.home {
flex-basis: 80%;
flex-shrink: 1;
font-style: italic;
font-size: 1em;
font-weight: lighter;
color: #3E3E3E;
margin: 167px 0;
}
.group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  text-align: center;
  align-items:   stretch;
  align-content: center;
  flex-flow: row wrap;
  background: url("../img/3columns.jpg");
}
.col {
padding: 5px 10px;
margin: 10px;
border-radius: 25px;
flex-basis: 333px;
flex-grow: 1;
color: #3C3C3C;
}
.anima {
  margin: 0;
  padding: 5%;
  transform: translate(-15px 0);
  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
}
.anima:hover {
  transform: translate(0, -15px);
  -webkit-transform: translate(0, -15px);
-moz-transform: translate(0, -15px);
-o-transform: translate(0, -15px);
}
.about {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #3E3E3E;
  background: url("../img/BackgroundAboutUs1.1.jpg") no-repeat right #EFEFEF;
  background-size: 95%;

}
.description {
  flex-basis: 400px;
  margin-top: 110px;
  margin-bottom: 163px;
  margin-left: 60px;
  flex-shrink: 1;
}
.description img {
  padding: 10px;
  width: 70%;
}
.description h3 {
  font-size: 3em;
}
.description p {
  font-size: 1.5em;
  word-spacing: 2px;
}
#dishesmenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}
.anglexperience {
  text-align: center;
  color: #3C3C3C;
}
.anglexperience h3 {
  padding-top: 20px;
  font-size: 1.8em;
  font-weight: lighter;
}
.anglexperience img {
  padding: 20px 0;
  width: 15%;
}
.anglexperience ul li {
  list-style: none;
}
#secondmenu {
  text-align: center;
  padding: 15px;
  margin: 0 20px;
}
.navli {
  display: inline-flex;
  margin: 15px;
  font-family: sans-serif;
}
.flextable {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menulist {
 font-size: 1em;
 margin: 0 10px;
}
.spaceBetween {
  padding: 10px;
}
.feedback {
  /*background: url("../img/form1.jpg") no-repeat;
  max-width: 1500px;
  background-size: cover;
  float: right;*/
  background-color: #EFEFEF;
}
.feedback img {
  width: 35%;
  float: left;
}
.flexthree {
  text-align: center;
  color: #3E3E3E;
  font-size: 1.8em;
  font-weight: lighter;
  font-family: serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 700px;
 background-color: #EFEFEF;
}
span img {
  width: 10%;

}
.feedback h3 {
  padding-top: 35px;
  margin-left: 10%;
  text-align: center;
  vertical-align: text-top;
  color: #3C3C3C;
  font-size: 2.5em;
  font-weight: lighter;
}
.feedback span {
  box-sizing: border-box;

}
.adress {
  font-size: 13px;
  text-align: left;
  font-style: italic;
}
.rw {
  flex-basis: 20%;
  margin: 20px;
  padding: 20px;
}
.feedback h4 {
  text-transform: uppercase;
}
.angularform {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 700px;
}
.field {
  margin: 20px 10px;
  padding: 10px;
}
input {
  margin: 10px 20px;
  padding: 15px;
  box-sizing: border-box;
  /*border: 2px solid black;*/
  border: none;
  border-bottom: 2px solid #3E3E3E;
  font-style: italic;
  font-family: serif;
  background-color: #EFEFEF;
}
/*placeholder settings*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3E3E3E;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #3E3E3E;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #3E3E3E;
  opacity: 1;
}
input:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

/*end placeholder*/

textarea {
  margin: 15px 20px 30px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #3E3E3E;
  font-family: serif;
  font-style: italic;
  background-color: #EFEFEF;
}
.submit {
  box-sizing: border-box;
  margin: 30px;
  width: 48%;
  text-align: center;
}
.submit input {
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: sans-serif;
  font-style: normal;

  border: 1px solid;
}
input.ng-invalid.ng-dirty {
  border: 1px solid #C63337;
}
span {
  color: #C63337;
}
.socicon {
  margin: 20px;
  padding: 15px;
}
.socicon img {
  width: 2.5%;
  float: right;
  padding: 10px;
}
